# Verification

MaaSive.net provides a built in user email verification system so you can verify a user's email address.
